<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wechatAppid</key>
	<string>wx2baa06ccaffc3b0b</string>
	<key>wechatlink</key>
	<string>https://demo.gm88.com/app1/1/</string>
	<key>wbAppkey</key>
	<string>4225951394</string>
	<key>wbLink</key>
	<string>https://demo.gm88.com/app1/</string>
	<key>qqAppid</key>
	<string>101949077</string>
	<key>qqLink</key>
	<string>https://demo.gm88.com/qq_conn/101949077</string>
	<key>douyinClientKey</key>
	<string>awmms3veimohgix8</string>
	<key>gameId</key>
	<string>4817</string>
</dict>
</plist>
